spring:
  application:
    name: user-management-system

  datasource:
    url: jdbc:mysql://localhost:3306/management
    password: root
    username: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

server:
  port: 8013